<div class="container">
    <div class="entry"> 
        <h3 class="h3">The result of [ <%= params[:search] %> ]</h3>
        <p> Showing <b class="text-success" ><%= @all - 22  %></b> songs.  </p>
        <p><%= link_to '戻る', search_path %></p>

        <% @ig =  0 %>
        <% @igs = 0 %>

            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <% @links.each do |link|  %>
                            <p class="source list-group-item">
                            <% if !(current_user.songs.where(url: "https://www.ufret.jp/" +link).first) %>
                                <%= link_to "追加", save_song_path(link: link), method: :patch,class:" badge badge-success text-white" %>
                            <% else %> &nbsp &nbsp &nbsp &nbsp&nbsp
                            <% end %>
                            <a target="_blank" href=https://www.ufret.jp/<%=link %>>Play</a> &nbsp
                            <%= truncate(@songs[@ig].to_s, length: 10) %>
                            <% @ig += 1 %>
                            <b> by </b>

                            <% if (@artists[@igs].to_s == "動画プラス") || (@artists[@igs].to_s == "初心者向け簡単コード")  %>
                                <% @igs += 1 %>
                                <% if @artists[@igs].to_s == "初心者向け簡単コード" %>
                                    <% @igs += 1 %>
                                    <b> <%= truncate(@artists[@igs].to_s, length: 10) %></b>
                                    <% @igs += 1 %> 
                                <% else %>
                                    <b> <%= truncate(@artists[@igs].to_s, length: 10) %></b>
                                    <% @igs += 1 %> 
                                <% end %>
                            <% else %>
                                <b> <%= truncate(@artists[@igs].to_s, length: 10) %></b>
                                <% @igs += 1 %>
                            <% end %>
                            </p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <p class="source">Scraped from <a target="_blank" href=<%=@url %>>Ufret.com</a></p>
</div>