<label for="exampleFormControlSelect1">アーティスト名頭文字の読み仮名で検索</label>
<p></p>
<%= link_to 'あ', save_hiragana_path(hira: "a"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'い', save_hiragana_path(hira: "i"), method: :patch %> <%= link_to 'う', save_hiragana_path(hira: "u"), method: :patch %> <%= link_to 'え', save_hiragana_path(hira: "e"), method: :patch %> <%= link_to 'お', save_hiragana_path(hira: "o"), method: :patch %>&nbsp &nbsp
<%= link_to 'か', save_hiragana_path(hira: "ka"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'き', save_hiragana_path(hira: "ki"), method: :patch %> <%= link_to 'く', save_hiragana_path(hira: "ku"), method: :patch %> <%= link_to 'け', save_hiragana_path(hira: "ke"), method: :patch %> <%= link_to 'こ', save_hiragana_path(hira: "ko"), method: :patch %>&nbsp &nbsp
<%= link_to 'さ', save_hiragana_path(hira: "sa"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'し', save_hiragana_path(hira: "si"), method: :patch %> <%= link_to 'す', save_hiragana_path(hira: "su"), method: :patch %> <%= link_to 'せ', save_hiragana_path(hira: "se"), method: :patch %> <%= link_to 'そ', save_hiragana_path(hira: "so"), method: :patch %>&nbsp &nbsp
<br>
<%= link_to 'た', save_hiragana_path(hira: "ta"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'ち', save_hiragana_path(hira: "ti"), method: :patch %> <%= link_to 'つ', save_hiragana_path(hira: "tu"), method: :patch %> <%= link_to 'て', save_hiragana_path(hira: "te"), method: :patch %> <%= link_to 'と', save_hiragana_path(hira: "to"), method: :patch %>&nbsp &nbsp
<%= link_to 'な', save_hiragana_path(hira: "na"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'に', save_hiragana_path(hira: "ni"), method: :patch %> <%= link_to 'ぬ', save_hiragana_path(hira: "nu"), method: :patch %> <%= link_to 'ね', save_hiragana_path(hira: "ne"), method: :patch %> <%= link_to 'の', save_hiragana_path(hira: "no"), method: :patch %>&nbsp &nbsp
<br>
<br>
<%= link_to 'は', save_hiragana_path(hira: "ha"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'ひ', save_hiragana_path(hira: "hi"), method: :patch %> <%= link_to 'ふ', save_hiragana_path(hira: "hu"), method: :patch %> <%= link_to 'へ', save_hiragana_path(hira: "he"), method: :patch %> <%= link_to 'ほ', save_hiragana_path(hira: "ho"), method: :patch %>&nbsp &nbsp
<%= link_to 'ま', save_hiragana_path(hira: "ma"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'み', save_hiragana_path(hira: "mi"), method: :patch %> <%= link_to 'む', save_hiragana_path(hira: "mu"), method: :patch %> <%= link_to 'め', save_hiragana_path(hira: "me"), method: :patch %> <%= link_to 'も', save_hiragana_path(hira: "mo"), method: :patch %>&nbsp &nbsp
<%= link_to 'や', save_hiragana_path(hira: "ya"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'ゆ', save_hiragana_path(hira: "yu"), method: :patch %> <%= link_to 'よ', save_hiragana_path(hira: "yo"), method: :patch %> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp 
<br>
<%= link_to 'ら', save_hiragana_path(hira: "ra"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'り', save_hiragana_path(hira: "ri"), method: :patch %> <%= link_to 'る', save_hiragana_path(hira: "ru"), method: :patch %> <%= link_to 'れ', save_hiragana_path(hira: "re"), method: :patch %> <%= link_to 'ろ', save_hiragana_path(hira: "ro"), method: :patch %>&nbsp &nbsp
<%= link_to 'わ', save_hiragana_path(hira: "wa"), method: :patch, class: "font-weight-bold text-danger " %> <%= link_to 'ん', save_hiragana_path(hira: "nn"), method: :patch %> 

<div class='search-area'>
<br>
<br>
  <h3>曲名を検索</h3>
  <p classs="text-secondary"><small>現在曲名だけしか検索できません。<br>アーティスト名は上の５０音をお使いください。</small></p>
  <%= form_tag(fast_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil %>
  <% end %>
</div>