<label for="exampleFormControlSelect1">アーティスト名頭文字の読み仮名で検索</label>
<p></p>
<%= link_to 'あ', artist_a_path, class: "font-weight-bold text-danger " %> <%= link_to 'い', artist_i_path %> <%= link_to 'う', artist_u_path %> <%= link_to 'え', artist_e_path %> <%= link_to 'お', artist_o_path %>&nbsp &nbsp
<%= link_to 'か', artist_ka_path, class: "font-weight-bold text-danger " %> <%= link_to 'き', artist_ki_path %> <%= link_to 'く', artist_ku_path %> <%= link_to 'け', artist_ke_path %> <%= link_to 'こ', artist_ko_path %>&nbsp &nbsp
<%= link_to 'さ', artist_sa_path, class: "font-weight-bold text-danger " %> <%= link_to 'し', artist_si_path %> <%= link_to 'す', artist_su_path %> <%= link_to 'せ', artist_se_path %> <%= link_to 'そ', artist_so_path %>&nbsp &nbsp
<%= link_to 'た', artist_ta_path, class: "font-weight-bold text-danger " %> <%= link_to 'ち', artist_ti_path %> <%= link_to 'つ', artist_tu_path %> <%= link_to 'て', artist_te_path %> <%= link_to 'と', artist_to_path %>&nbsp &nbsp
<%= link_to 'な', artist_na_path, class: "font-weight-bold text-danger " %> <%= link_to 'に', artist_ni_path %> <%= link_to 'ぬ', artist_nu_path %> <%= link_to 'ね', artist_ne_path %> <%= link_to 'の', artist_no_path %>&nbsp &nbsp
<br>
<%= link_to 'は', artist_ha_path, class: "font-weight-bold text-danger " %> <%= link_to 'ひ', artist_hi_path %> <%= link_to 'ふ', artist_hu_path %> <%= link_to 'へ', artist_he_path %> <%= link_to 'ほ', artist_ho_path %>&nbsp &nbsp
<%= link_to 'ま', artist_ma_path, class: "font-weight-bold text-danger " %> <%= link_to 'み', artist_mi_path %> <%= link_to 'む', artist_mu_path %> <%= link_to 'め', artist_me_path %> <%= link_to 'も', artist_mo_path %>&nbsp &nbsp
<%= link_to 'や', artist_ya_path, class: "font-weight-bold text-danger " %> <%= link_to 'ゆ', artist_yu_path %> <%= link_to 'よ', artist_yo_path %> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp 
<%= link_to 'ら', artist_ra_path, class: "font-weight-bold text-danger " %> <%= link_to 'り', artist_ri_path %> <%= link_to 'る', artist_ru_path %> <%= link_to 'れ', artist_re_path %> <%= link_to 'ろ', artist_ro_path %>&nbsp &nbsp
<%= link_to 'わ', artist_wa_path, class: "font-weight-bold text-danger " %> <%= link_to 'ん', artist_nn_path %> 