<div class="container">
    <div class="entry">
    <%= render 'artist/condition' %>
        <p><%= link_to '戻る', search_path %></p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">

                        <% @contents.each do |content|  %>
                            <p class="list-group-item"><%= truncate(content.to_s, length: 50) %></p>
                            
                        <% end %>
                    </div>
                    <div class="col-xs-6">
                    
                        <% @links.each do |link|  %>
                            <p class="source list-group-item"><%= link_to 'Artist', save_link_path(link: link), method: :patch %></p>
                        <% end %>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <p><%= link_to '戻る', search_path %></p>
    <p class="source">Scraped from <a target="_blank" href=<%=@url %>>Ufret.com</a></p>
</div>

