<div class="container">
    <div class="entry"> 
        <h3 class="h3">Songs of<%= @artist %></h3>
        <p><%= link_to '戻る', :back %></p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">

                        <% @songs.each do |song|  %>
                            <p class="list-group-item"><%= truncate(song.to_s, length: 50) %></p>
                            
                        <% end %>
                    </div>
                    <div class="col-xs-6">
                        <% @links.each do |link|  %>
                            <p class="source list-group-item"><a target="_blank" href=https://www.ufret.jp/<%=link %>>Song</a> &nbsp
                            <%= link_to "Add", save_song_path(link: link), method: :patch%>
                                
                            </p>
                           
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <p class="source">Scraped from <a target="_blank" href=<%=@url %>>Ufret.com</a></p>
</div>