<div class="container">
    <div class="entry"> 
        <h3 class="h3">Songs of<%= @artist %></h3>
        <p><%= link_to '戻る', search_path %> &nbsp&nbsp&nbsp<%= link_to 'Mylist', mylist_path %></p>

            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-6">
                        <% @links.each do |link|  %>
                            <p class="source list-group-item">
                            <a target="_blank" href=https://www.ufret.jp/<%=link %>>Play</a> &nbsp
                            <% if !(current_user.songs.where(url: "https://www.ufret.jp/" +link).first) %>
                                <%= link_to "追加", save_song_path(link: link), method: :patch,class:" badge badge-success text-white" %>
                            <% end %>
                
                            <% @users.each do |user| %>
                                <% if (user.songs.where(url: "https://www.ufret.jp/" +link).first) && !( user == current_user) %>
                                <% end %>
                            <% end %>
                            </p>
                        <% end %>
                    </div>
                    <div class="col-xs-6">

                        <% @songs.each do |song|  %>
                            <p class="list-group-item"><%= truncate(song.to_s, length: 10) %></p>
                            
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <p class="source">Scraped from <a target="_blank" href=<%=@url %>>Ufret.com</a></p>
</div>