Listing <%= @theuser.list %> with the only songs you followimng
<p><%= link_to '戻る', following_artist_path %></p>
<% @theuser.songs.each do |song|  %>
    <% if song.artist == @theuser.list %>
        <p class="source list-group-item">
        <% if !(current_user.songs.exists?(url: song.url)) %>
            <%= link_to "追加", take_song_path(link: song.url), method: :patch,class:" badge badge-success text-white" %> &nbsp 
        <% else %>
            &nbsp   &nbsp  &nbsp   &nbsp&nbsp&nbsp
        <% end %>
        <%= link_to 'Play', song.url %> 
        <%= truncate(song.title.to_s, length: 25) %>  <b>by <%= truncate(song.artist.to_s, length: 25) %></b>
        </p>
    <% end %>
<% end %>

