

<% if @theuser.songs.count != 0 %>
    <b class="text-info"><%= @theuser.email.split("@").first %></b>
    <br>
    <b class="text-success"><%= @theuser.countnum%></b> 組のアーティストのお気に入り 
    <br>
    <b class= "text-success"><%= @theuser.songs.count%></b> 曲のお気に入り <%= link_to 'このユーザーの曲リストを見る', song_of_following_path, class:" badge badge-primary text-white" %>
    <br>
    <%= link_to '戻る', friend_path %>
    <br>
    <br>


    <div class="entry">
    <% @songartists.each do |songartist|  %> 
        <p class="source list-group-item">
            <%= link_to songartist, change_following_list_path(newname: songartist), method: :patch %>
            <br>
            <% @mycount = 0 %>
            <% @theuser.songs.each do |song| %>
                <% if song.artist == songartist %>
                    <% @mycount +=1 %>
                <% end %>
            <% end %>
            <b class="text-danger"><%= @mycount %></b> 曲 
        </p>
    <% end %>
</div>

  
    
<% else %>
    <b class="text-info"><%= @theuser.email.split("@").first %></b>
    <br>
    には現在お気に入りの曲はありません
    <br>
    <%= link_to '戻る', friend_path %>
<% end %>