全 <b class="text-success"><%= @num  %></b> ユーザを表示
<br>
<br>
<div class="container">
    <div class="row">
        <div>
            <% @others.each do |other|  %>
                <% if !(other.email == current_user.email) %>
                    <p class="list-group-item ">
                    <%= link_to other.email.split("@").first, save_following_path(email: other.email), method: :patch %>
                    <br>
                    <b class="badge badge-success text-white"><%= other.songs.count %></b> 曲
                    <% @count = 0 %>
                    <% other.songs.each do |song| %>
                    
                        <% if current_user.songs.exists?(url: song.url) %>
                            <% @count+=1 %>
                        <% end %>

                    <% end %> 
                    <b class="badge badge-info text-white"><%= @count %></b> 曲の共通
                    <b class="badge badge-warning text-white"><%= other.countnum %></b> アーティスト
                    <b class="badge badge-secondary text-white"><%= other.total %></b> 回
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<br>