Listing <%= current_user.list %> with the only songs you followimng
<p><%= link_to '戻る', mylist_artist_path %></p>
<% current_user.songs.each do |song|  %>
    <% if song.artist == current_user.list %>
        <p class="source list-group-item">
        <%= link_to 'Play', plusone_path(link: song.url), method: :patch,class:" badge badge-info text-white" %> 
        <%=link_to "消", favsong_path(song),method: :delete, data: {confirm: "Do you wanna delete it?"},class:" badge badge-danger text-white" %>
        <%= truncate(song.title.to_s, length: 15) %> <b>by <%= truncate(song.artist.to_s, length: 10)%></b>
        </p>
    <% end %>
<% end %>
