<% if current_user.songs.count != 0 %>
    <b class="text-success"><%= current_user.songs.count%></b>曲のお気に入り
    <br>
    <b class= "text-success"><%= current_user.countnum%></b>組のアーティスト　<%= link_to 'アーティストを見る', mylist_artist_path, class:" badge badge-primary text-white" %>
    <br>
    これまでに<b class="text-success"><%= current_user.total %></b>回演奏しました
    <br>
    <br>
        <div class="entry">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <% @songs.each do |song|  %>
                            <p class="source list-group-item">
                            <%= link_to 'プレイ', plusone_path(link: song.url), class:" badge badge-info text-white", method: :patch %> 
                            <%=link_to "消", favsong_path(song),method: :delete, data: {confirm: "Do you wanna delete it?"},class:" badge badge-danger text-white" %>
                            <%= truncate(song.title.to_s, length: 15) %> <b>by <%= truncate(song.artist.to_s, length: 10)%></b>
                            </p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    Not following any songs right now
<% end %>

<br>