<% if current_user.songs.count != 0 %>
    Lising all <b class="text-success"><%= current_user.countnum%></b> artists that you are following
    <br>
    Following <b class= "text-success"><%= current_user.songs.count%></b> Songs.  <%= link_to 'View your songs', mylist_path, class:" badge badge-primary text-white" %>
    <br>
    
<% else %>
    Not following any songs right now
<% end %>
<br>
<div class="entry">
    <% @songartists.each do |songartist|  %> 
        <p class="source list-group-item">
            <%= link_to songartist, change_list_path(newname: songartist), method: :patch %>
            <br>
            <% @mycount = 0 %>
            <% current_user.songs.each do |song| %>
                <% if song.artist == songartist %>
                    <% @mycount +=1 %>
                <% end %>
            <% end %>
            <b class="text-danger"><%= @mycount %></b> of <b class="text-success">
             
            <% linkurl = "https://www.ufret.jp/artist.php?data=%E3%81%8F%E3%81%98%E3%82%89"%>
            <% doc = Nokogiri::HTML(open(linkurl)) %>
            <% @artistnum = doc.xpath(" //a [@class= 'list-group-item list-group-item-action normal-chord']/strong").children.count %>

            <%= @artistnum %></b> total songs.
        </p>
    <% end %>




</div>

<br>