<% if current_user.songs.count != 0 %>
    <b class="text-success"><%= current_user.countnum%></b>組のアーティストをフォロー中
    <br>
    合計<b class= "text-success"><%= current_user.songs.count%></b>曲  <%= link_to '曲のリストを見る', mylist_path, class:" badge badge-primary text-white" %>
    <br>
    
<% else %>
    お気に入りの曲が登録されていません
<% end %>
<br>
<div class="entry">
    <% @songartists.each do |songartist|  %> 
        <p class="source list-group-item">
            <%= link_to songartist, change_list_path(newname: songartist), method: :patch %>
            <br>
            <% @mycount = 0 %>
            <% current_user.songs.each do |song| %>
                <% if song.artist == songartist %>
                    <% @mycount +=1 %>
                <% end %>
            <% end %>
            <b class="text-danger"><%= @mycount %></b>曲

        </p>
    <% end %>
</div>

<br>